@defer (when agent) {
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card shadow">
          <div class="card-header bg-secondary-subtle">
            <div class="card-title text-center py-2 px-1">
              <div class="row justify-content-center">
                <div class="col-10">
          <h5><strong>{{ agent.displayName }}</strong></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <img
        class="img-fluid p-3 rounded-circle"
        src="{{ agent.displayIcon }}"
        alt="{{ agent.displayName }}"
      />
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-text">
          <strong>Developer Name: </strong>
          <span class="text-secondary">{{ agent.developerName }}</span>
        </p>
        <p class="card-text">
          <strong>Description: </strong>
          <span class="text-secondary">{{ agent.description }}</span>
        </p>
      </div>
    </div>

    <!-- acordeón -->
    <div class="col-md-4">
      <div class="card-body">
        <div class="accordion custom-accordion" id="accordionAbilities">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseAbilities"
                aria-expended="false"
                aria-controls="collapseAbilities">
                <strong>Abilities</strong>
              </button>
            </h2>
            <div
              id="collapseAbilities"
              data-bs-parent="#accordionAbiilities"
              class="accordion-collapse collapse"
            >
              <div class="accordion-body overflow-y-scroll">
                <ul>
                  @for (item of agent.abilities; track item) {
                  <li class="list-group-item small">
                    <strong>{{ item.displayName }}:</strong>
                    {{ item.description }}
                  </li>
                  <hr>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card-footer text-end">
        <strong>Id: </strong>{{ agent.uuid }}
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
} @placeholder (minimum 500ms) {
<h2 class="text-center text-secondary">Loading ...</h2>
}
