.card img:hover {
    filter: grayscale(100%);
    border: solid #555 6px;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.card {
    border-radius: 10px;
}