.card img:hover {
    filter: grayscale(100%);
    border: solid #555 6px;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.card {
    border-radius: 10px;
    transition-duration: 0.4s;
}

.card:hover {
    border: solid var (--bs-primary) 1px;
    transform: scale(1.03);
    transition-duration: 0.8s;
    cursor: pointer;
}

.text-white {
    color: white;
}